<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceLocationResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\CallbackRegistrationResult;
use VerizonLib\Models\CallbackServiceNameEnum;
use VerizonLib\Models\DeviceLocationCallback;
use VerizonLib\Models\DeviceLocationSuccessResult;
use VerizonLib\Server;

class DeviceLocationCallbacksController extends BaseController
{
    /**
     * Returns a list of all registered callback URLs for the account.
     *
     * @param string $account Account number.
     *
     * @return ApiResponse Response from the API call
     */
    public function listRegisteredCallbacks(string $account): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/callbacks/{account}')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('account', $account));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Error response.', DeviceLocationResultException::class))
            ->type(DeviceLocationCallback::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Provide a URL to receive messages from a ThingSpace callback service.
     *
     * @param string $account Account number.
     * @param DeviceLocationCallback $body Request to register a callback.
     *
     * @return ApiResponse Response from the API call
     */
    public function registerCallback(string $account, DeviceLocationCallback $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/callbacks/{account}')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(
                TemplateParam::init('account', $account),
                HeaderParam::init('Content-Type', '*/*'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Error response.', DeviceLocationResultException::class))
            ->type(CallbackRegistrationResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deregister a URL to stop receiving callback messages.
     *
     * @param string $account Account number.
     * @param string $service Callback service name.
     *
     * @return ApiResponse Response from the API call
     */
    public function deregisterCallback(string $account, string $service): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/callbacks/{account}/name/{service}')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(
                TemplateParam::init('account', $account),
                TemplateParam::init('service', $service)->serializeBy([CallbackServiceNameEnum::class, 'checkValue'])
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Error response.', DeviceLocationResultException::class))
            ->type(DeviceLocationSuccessResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
