<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceDiagnosticsResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DiagnosticObservationSetting;
use VerizonLib\Server;

class DiagnosticsSettingsController extends BaseController
{
    /**
     * This endpoint retrieves diagnostics settings synchronously.
     *
     * @param string $accountName Account identifier.
     * @param string $devices Devices list format:
     *        [{"id":"{imei1}","kind":"imei"},{"id":"{imei2}","kind":"imei"}].
     *
     * @return ApiResponse Response from the API call
     */
    public function listDiagnosticsSettings(string $accountName, string $devices): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/devices/settings')
            ->server(Server::DEVICE_DIAGNOSTICS)
            ->auth('oAuth2')
            ->parameters(QueryParam::init('accountName', $accountName), QueryParam::init('devices', $devices));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response.', DeviceDiagnosticsResultException::class))
            ->type(DiagnosticObservationSetting::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
