<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceDiagnosticsResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\DeviceResetRequest;
use VerizonLib\Models\DiagnosticsObservationResult;
use VerizonLib\Server;

class DiagnosticsFactoryResetController extends BaseController
{
    /**
     * Performs a device reboot or a factory reset on the modem portion of the device.
     *
     * @param DeviceResetRequest $body A request to perform a device reboot.
     *
     * @return ApiResponse Response from the API call
     */
    public function decivesRestart(DeviceResetRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/devices/actions/restart')
            ->server(Server::DEVICE_DIAGNOSTICS)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response.', DeviceDiagnosticsResultException::class))
            ->type(DiagnosticsObservationResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
