<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceDiagnosticsResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\History;
use VerizonLib\Models\HistorySearchRequest;
use VerizonLib\Server;

class DiagnosticsHistoryController extends BaseController
{
    /**
     * This endpoint allows the user to get the history data.
     *
     * @param HistorySearchRequest $body History data information.
     *
     * @return ApiResponse Response from the API call
     */
    public function getDiagnosticsHistory(HistorySearchRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/history/actions/$search')
            ->server(Server::DEVICE_DIAGNOSTICS)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', '*/*'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response.', DeviceDiagnosticsResultException::class))
            ->type(History::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
