<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DeviceLocationResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\ConsentRequest;
use VerizonLib\Models\DeviceLocationSuccessResult;
use VerizonLib\Models\DevicesConsentResult;
use VerizonLib\Server;

class ExclusionsController extends BaseController
{
    /**
     * This consents endpoint sets a new exclusion list.
     *
     * @param ConsentRequest $body Request to update account consent exclusion list.
     *
     * @return ApiResponse Response from the API call
     */
    public function excludeDevices(ConsentRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/consents')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', '*/*'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', DeviceLocationResultException::class))
            ->type(DeviceLocationSuccessResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes devices from the exclusion list so that they can be located with Device Location Services
     * requests.
     *
     * @param string $accountName The numeric name of the account.
     * @param string $deviceList A list of the device IDs to remove from the exclusion list.
     *
     * @return ApiResponse Response from the API call
     */
    public function removeDevicesFromExclusionList(string $accountName, string $deviceList): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/consents')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(
                QueryParam::init('accountName', $accountName),
                QueryParam::init('deviceList', $deviceList)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', DeviceLocationResultException::class))
            ->type(DeviceLocationSuccessResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This consents endpoint retrieves a list of excluded devices in an account.
     *
     * @param string $account Account identifier in "##########-#####".
     * @param string $startIndex Zero-based number of the first record to return.
     *
     * @return ApiResponse Response from the API call
     */
    public function listExcludedDevices(string $account, string $startIndex): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/consents/{account}/index/{startIndex}')
            ->server(Server::DEVICE_LOCATION)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('account', $account), TemplateParam::init('startIndex', $startIndex));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', DeviceLocationResultException::class))
            ->type(DevicesConsentResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
