<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\M5gBiRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\M5gBiactivateRequest;
use VerizonLib\Models\M5gBichangeRequest;
use VerizonLib\Models\M5gBideviceDetailsresponse;
use VerizonLib\Models\M5gBideviceId;
use VerizonLib\Models\M5gBiRequestResponse;
use VerizonLib\Server;

class M5gBIDeviceActionsController extends BaseController
{
    /**
     * Uses the decive's Integrated Circuit Card Identification Number (ICCID) to retrive and display the
     * device's properties.
     *
     * @param M5gBideviceId $body Device Profile Query
     *
     * @return ApiResponse Response from the API call
     */
    public function businessInternetlistDeviceInformation(M5gBideviceId $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/actions/list')
            ->server(Server::THINGSPACE)
            ->auth('thingspace_oauth', 'VZ-M2M-Token')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', M5gBiRestErrorResponseException::class))
            ->type(M5gBideviceDetailsresponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Uses the device's ICCID and IMEI to activate service.
     *
     * @param M5gBiactivateRequest $body Activate 5G BI service. Defining
     *        <code>publicIpRestriction</code> as "Unrestricted" or "Restricted" is required for
     *        activating as Public Static. Leave  <code>publicIpRestriction</code> undefined to
     *        activate as Public Dynamic. Removing <code>publicIpRestriction</code> from the
     *        request will activate as Mobile Private Network (MPN).
     *
     * @return ApiResponse Response from the API call
     */
    public function businessInternetactivateUsingPOST(M5gBiactivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/actions/activate')
            ->server(Server::THINGSPACE)
            ->auth('thingspace_oauth', 'VZ-M2M-Token')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', M5gBiRestErrorResponseException::class))
            ->type(M5gBiRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Change a device's service plan to use 5G BI.
     *
     * @param M5gBichangeRequest $body This endpoint is for use when changing a device's service
     *        plan to a 5G BI service plan. The service plan can change for an active device up to
     *        four times per month but will require address validation for each change. The
     *        service plan cannot be changed for a device while its service is suspended.
     *
     * @return ApiResponse Response from the API call
     */
    public function businessInternetServiceplanchange(M5gBichangeRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/actions/plan')
            ->server(Server::THINGSPACE)
            ->auth('thingspace_oauth', 'VZ-M2M-Token')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', M5gBiRestErrorResponseException::class))
            ->type(M5gBiRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
