<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\ChangeMecDeviceIPAddressResponse;
use VerizonLib\Models\ChangeMecDeviceProfileResponse;
use VerizonLib\Models\ChangeMecDeviceStateResponse;
use VerizonLib\Models\ChangePmecDeviceProfileRequest;
use VerizonLib\Models\ChangePmecDeviceStateActivateRequest;
use VerizonLib\Models\ChangePmecDeviceStateBulkDeactivateRequest;
use VerizonLib\Models\GetMECPerformanceConsentResponse;
use VerizonLib\Models\KPIInfoList;
use VerizonLib\Models\MECProfileList;
use VerizonLib\Server;

class MECController extends BaseController
{
    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function kPIList(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/mec/kpi/list/{aname}')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(KPIInfoList::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function getProfileList(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/mec/profiles/list/{aname}')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(MECProfileList::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePmecDeviceStateActivateRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePmecDeviceStateActivate(ChangePmecDeviceStateActivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/mec/actions/state/activate')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangeMecDeviceStateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePmecDeviceStateBulkDeactivateRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePmecDeviceStateBulkDeactivate(ChangePmecDeviceStateBulkDeactivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/mec/actions/state/deactivate')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangeMecDeviceStateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePmecDeviceProfileRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePmecDeviceProfile(ChangePmecDeviceProfileRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/mec/actions/profile')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangeMecDeviceProfileResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePmecDeviceStateBulkDeactivateRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePmecDeviceIPaddressBulk(ChangePmecDeviceStateBulkDeactivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/m2m/v1/devices/mec/actions/ipaddress')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangeMecDeviceIPAddressResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMECPerformanceConsent(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/mec/performance/consent/{aname}')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(GetMECPerformanceConsentResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
