<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\ReadySimRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\RequestBodyForUsage;
use VerizonLib\Models\RequestBodyForUsage1;
use VerizonLib\Models\ResponseToUsageQuery;
use VerizonLib\Models\UsageRequestResponse;
use VerizonLib\Server;

class PromotionPeriodInformationController extends BaseController
{
    /**
     * Retrieves the aggregate usage for an account using pseudo-MDN during the promotional period using a
     * callback.
     *
     * @param RequestBodyForUsage $body Retrieve Aggregate Usage
     *
     * @return ApiResponse Response from the API call
     */
    public function getPromoDeviceAggregateUsageHistory(RequestBodyForUsage $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/m2m/v1/devices/usage/actions/promoaggregateusage'
        )
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', ReadySimRestErrorResponseException::class))
            ->type(UsageRequestResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the usage history of a device during the promotion period.
     *
     * @param RequestBodyForUsage1 $body Retrieve Aggregate Usage
     *
     * @return ApiResponse Response from the API call
     */
    public function getPromoDeviceUsageHistory(RequestBodyForUsage1 $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/usage/actions/promodeviceusage')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init(
                    'All error responses will be in this format',
                    ReadySimRestErrorResponseException::class
                )
            )
            ->type(ResponseToUsageQuery::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
