<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\ChangePWNDeviceIpaddressRequest;
use VerizonLib\Models\ChangePWNDeviceIpaddressResponse;
use VerizonLib\Models\ChangePWNDeviceProfileRequest;
use VerizonLib\Models\ChangePWNDeviceProfileResponse;
use VerizonLib\Models\ChangePWNDeviceStateActivateRequest;
use VerizonLib\Models\ChangePWNDeviceStateDeactivateRequest;
use VerizonLib\Models\ChangePWNDeviceStateResponse;
use VerizonLib\Models\GetPWNPerformanceConsentResponse;
use VerizonLib\Models\KPIInfoList;
use VerizonLib\Models\PWNProfileList;
use VerizonLib\Server;

class PWNController extends BaseController
{
    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function kPIList(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/pwn/kpi/list/{aname}')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(KPIInfoList::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function getProfileList(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/pwn/profiles/list/{aname}')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(PWNProfileList::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePWNDeviceStateActivateRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePWNDeviceStateActivate(ChangePWNDeviceStateActivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/pwn/actions/state/activate')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangePWNDeviceStateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePWNDeviceStateDeactivateRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePWNDeviceStateDeactivate(ChangePWNDeviceStateDeactivateRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/pwn/actions/state/deactivate')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangePWNDeviceStateResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePWNDeviceProfileRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePWNDeviceProfile(ChangePWNDeviceProfileRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/pwn/actions/profile')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangePWNDeviceProfileResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param ChangePWNDeviceIpaddressRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function changePWNDeviceIpaddress(ChangePWNDeviceIpaddressRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/m2m/v1/devices/pwn/actions/ipaddress')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(ChangePWNDeviceIpaddressResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param string $aname Account name.
     *
     * @return ApiResponse Response from the API call
     */
    public function getPWNPerformanceConsent(string $aname): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/m2m/v1/devices/pwn/performance/consent/{aname}')
            ->server(Server::THINGSPACE)
            ->auth(Auth::and('thingspace_oauth', 'VZ-M2M-Token'))
            ->parameters(TemplateParam::init('aname', $aname));

        $_resHandler = $this->responseHandler()->type(GetPWNPerformanceConsentResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
