<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\EdgeServiceOnboardingResultErrorException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\EdgeServiceOnboardingDeleteResult;
use VerizonLib\Models\Repository;
use VerizonLib\Server;

class RepositoriesController extends BaseController
{
    /**
     * Delete the repository.
     *
     * @param string $accountName User account name.
     * @param string $repositoryName Name of the repository which is about to be deleted.
     * @param string|null $correlationId
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteRepository(
        string $accountName,
        string $repositoryName,
        ?string $correlationId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/v1/config/repository/{repositoryName}')
            ->server(Server::SERVICES)
            ->auth('global')
            ->parameters(
                HeaderParam::init('AccountName', $accountName),
                TemplateParam::init('repositoryName', $repositoryName),
                HeaderParam::init('correlationId', $correlationId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad Request.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->throwErrorOn('404', ErrorType::init('Not found.', EdgeServiceOnboardingResultErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal Server Error.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->type(EdgeServiceOnboardingDeleteResult::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get all repositories in the platform.
     *
     * @param string $accountName User account name.
     * @param string|null $correlationId
     * @param string|null $type Repository type.
     *
     * @return ApiResponse Response from the API call
     */
    public function listRepositories(
        string $accountName,
        ?string $correlationId = null,
        ?string $type = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/v1/config/repository')
            ->server(Server::SERVICES)
            ->auth('global')
            ->parameters(
                HeaderParam::init('AccountName', $accountName),
                HeaderParam::init('correlationId', $correlationId),
                QueryParam::init('type', $type)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->throwErrorOn('404', ErrorType::init('Not found.', EdgeServiceOnboardingResultErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal Server Error.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->type(Repository::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Create a repository within user's organziation.
     *
     * @param string $accountName User account name.
     * @param Repository $body
     * @param string|null $correlationId
     *
     * @return ApiResponse Response from the API call
     */
    public function createRepository(string $accountName, Repository $body, ?string $correlationId = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/v1/config/repository')
            ->server(Server::SERVICES)
            ->auth('global')
            ->parameters(
                HeaderParam::init('AccountName', $accountName),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body),
                HeaderParam::init('correlationId', $correlationId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init('Bad Request.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init('Internal Server Error.', EdgeServiceOnboardingResultErrorException::class)
            )
            ->type(Repository::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
