<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\FotaV2ResultException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\CheckInHistoryItem;
use VerizonLib\Server;

class ServerLoggingController extends BaseController
{
    /**
     * Check-in history can be retrieved for any device belonging to the account, not necessarily with
     * logging enabled.
     *
     * @param string $account Account identifier.
     * @param string $deviceId Device IMEI identifier.
     *
     * @return ApiResponse Response from the API call
     */
    public function getDeviceCheckInHistory(string $account, string $deviceId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/logging/{account}/devices/{deviceId}/checkInHistory'
        )
            ->server(Server::SOFTWARE_MANAGEMENT_V2)
            ->auth('oAuth2')
            ->parameters(TemplateParam::init('account', $account), TemplateParam::init('deviceId', $deviceId));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('400', ErrorType::init('Unexpected error.', FotaV2ResultException::class))
            ->type(CheckInHistoryItem::class, 1)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
