<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\DefaultResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\M201success;
use VerizonLib\Models\SubscribeRequest;
use VerizonLib\Server;

class ThingSpaceQualityOfServiceAPIActionsController extends BaseController
{
    /**
     * Creates a QoS elevation subscription ID and activates the subscription.
     *
     * @param SubscribeRequest $body The request details to create a ThingSpace Quality of Service
     *        API subscription.
     *
     * @return ApiResponse Response from the API call
     */
    public function createAThingSpaceQualityOfServiceAPISubscription(SubscribeRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/m2m/v1/devices/actions/enhanceQoS')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error Response', DefaultResponseException::class))
            ->type(M201success::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Stops an active ThingSpace Quality of Service API subscription using the account name and the
     * subscription ID.
     *
     * @param string $accountName
     * @param string $qosSubscriptionId
     *
     * @return ApiResponse Response from the API call
     */
    public function stopAThingSpaceQualityOfServiceAPISubscription(
        string $accountName,
        string $qosSubscriptionId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/m2m/v1/devices/actions/enhanceQoS')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(
                QueryParam::init('accountName', $accountName),
                QueryParam::init('qosSubscriptionId', $qosSubscriptionId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error Response', DefaultResponseException::class))
            ->type(M201success::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
