<?php

declare(strict_types=1);

/*
 * VerizonThingSpaceQualityOfServiceAPIEndpointsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonThingSpaceQualityOfServiceAPIEndpointsLib\Controllers;

use Core\Authentication\Auth;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonThingSpaceQualityOfServiceAPIEndpointsLib\Exceptions\ApiException;
use VerizonThingSpaceQualityOfServiceAPIEndpointsLib\Exceptions\MDefaultException;
use VerizonThingSpaceQualityOfServiceAPIEndpointsLib\Models\M201success;
use VerizonThingSpaceQualityOfServiceAPIEndpointsLib\Models\SubscribeRequest;

class ThingSpaceQualityOfServiceAPIActionsController extends BaseController
{
    /**
     * Creates a QoS elevation subscription ID and activates the subscription.
     *
     * @param SubscribeRequest $body The request details to create a ThingSpace Quality of Service
     *        API subscription.
     *
     * @return M201success Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createAThingSpaceQualityOfServiceAPISubscription(SubscribeRequest $body): M201success
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/actions/enhanceQoS')
            ->auth(Auth::and('thingspace_oauth', 'vz-m2m-session_token'))
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error Response', MDefaultException::class))
            ->type(M201success::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Stops an active ThingSpace Quality of Service API subscription using the account name and the
     * subscription ID.
     *
     * @param string $accountName
     * @param string $qosSubscriptionId
     *
     * @return M201success Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function stopAThingSpaceQualityOfServiceAPISubscription(
        string $accountName,
        string $qosSubscriptionId
    ): M201success {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/actions/enhanceQoS')
            ->auth(Auth::and('thingspace_oauth', 'vz-m2m-session_token'))
            ->parameters(
                QueryParam::init('accountName', $accountName),
                QueryParam::init('qosSubscriptionId', $qosSubscriptionId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error Response', MDefaultException::class))
            ->type(M201success::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
