<?php

declare(strict_types=1);

/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace VerizonLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use VerizonLib\Exceptions\ReadySimRestErrorResponseException;
use VerizonLib\Http\ApiResponse;
use VerizonLib\Models\RequestTrigger;
use VerizonLib\Models\Success;
use VerizonLib\Server;

class UpdateTriggersController extends BaseController
{
    /**
     * Updates the promotional triggers for pseudo-MDN.
     *
     * @param RequestTrigger|null $body Update the triggers
     *
     * @return ApiResponse Response from the API call
     */
    public function updateAllAvailableTriggers(?RequestTrigger $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/m2m/v2/triggers')
            ->server(Server::THINGSPACE)
            ->auth('oAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Error response', ReadySimRestErrorResponseException::class))
            ->type(Success::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
